:root{
    --black-color:#0f172a;
    --grey-color:#3f3f46;
    --white-color:#ffffff;
    --red-color:#FF0000;
    --purple-color:#A020F0;
    --light-grey:#9ca3af;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-color: var(--black-color);
    height: 100vh;
}